<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API viewer</title>

  <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/bower_components/sweetalert/dist/sweetalert.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">

  <script src="public/bower_components/angular/angular.min.js"></script>
  <script src="public/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="public/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

  <script src="public/bower_components/ngSweetAlert/SweetAlert.min.js"></script>
  <script src="public/bower_components/sweetalert/dist/sweetalert.min.js"></script>

  <script src="/js/module.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/filters.js"></script>
</head>
<body ng-app='apiviewApp'>
  <!-- navbar?? -->
  <div class="container-fluid noPadding">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="whiteFont logo" href="#">
            <img class="logoImg" src="http://ndl.mgccw.com/mu3/game/20140327/22/1395931743758/icon_n/icon_xl.png" alt=""> Pokédex
          </a>
        </div>
      </div>
    </nav>

    <!-- Where the templates go -->
    <ui-view></ui-view>
    <!--  -->
  </div>

</body>
</html>
