<div class="row">
  <div class="col-xs-12 text-center">
    <button class="btn btn-danger backBtn" ui-sref="list({offset: currentOffset})"><span class="glyphicon glyphicon-menu-left"></span>Go back to List</button>
    <div class="row text-center" ng-if="!pokemon.name">
      <img src="http://i929.photobucket.com/albums/ad133/ScorchNite/RotatingPokeball.gif" alt="">
      Loading...
    </div>
    <div class="panel panel-default text-left" ng-if="pokemon.name">
      <div class="panel-heading">{{ pokemon.name | capitalize }}</div>
      <div class="panel-body">
        <div class="col-xs-2">
          <div class="row">
            <img ng-src="{{pokemon.sprites.front_default}}" alt="">
          </div>
          <div class="row">
            <img ng-src="{{pokemon.sprites.back_default}}" alt="">
          </div>
          <div class="row">
            <img ng-src="{{pokemon.sprites.front_shiny}}" alt="">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="row">
            Abilities:
          </div>
          <div ng-repeat="ability in pokemon.abilities">
            <li>{{ ability.ability.name | capitalize }}</li>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            Moves:
          </div>
          <div>
            <span ng-repeat="move in pokemon.moves">|| {{ move.move.name  | capitalize }} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
